:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(151, 195, 231, 0.87);
  /* background-color: #646cff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container{
  background-color: #43b0f1;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  height: auto;
  font-weight: 700;
}
  
