/* .container{
    display: flex;
    border: 2px solid red;
}
.darkHouse{
    width: 50%;
}
.darkHouse>img{
    width: 100%;
}
.MEDIA{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
}
.MEDIA>h1{
    font-size: 50px;
}
.mediaDiv{
    border: 2px solid yellowgreen;
    height: 100%;
}
.videoBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:16px;
    border: 2px solid white;
  }
  
  .videoWrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
  }
  
  .video {
    width: 100%;
    height: 50%;
    border: 2px solid pink;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(17, 10, 10, 0.5);
    cursor: pointer;
  }
  
  .youtubeLogo {
    width: 50px;
    height: 50px;
  } */

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .darkHouse {
    width: 50%;
  }
  .darkHouse>img{
    width: 100%;
    height: 800px;
}
  .mediaDiv {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: auto;
    gap: 20px;
  }
  
  .MEDIA {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .MEDIA>img{
    width: 90px;
    
  }
  .MEDIA>h1{
    font-size: 50px;
    color: white;
}
  .videoBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three items per row */
    gap: 20px;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: auto;
  }
  
  .videoWrapper {
    position: relative;
    width: 170px;
    height: 140px;
    margin: 0;
    border-radius: 15px;
  }
  
  .video {
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
  
  .youtubeLogo {
    width: 50px;
    height: auto;
    /* filter: invert(1); */
  }
  .secondbuyNowButton{
    width:34%;
    height: auto;
    font-weight: 700;
    border-radius: 10px;
    padding: 25px;
    margin: 0;
    color: white;
    border-end-start-radius: 2px solid white;
    background-color:deeppink ;
    font-family: 'Press Start 2P', cursive;
  }

  @media (min-width: 600px) and (max-width: 900px) {
    .container{
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      padding-bottom: 10px;
    }
    .darkHouse{
       width: 40%;
  }
  .darkHouse>img{
     height: 40%;
  }
  .mediaDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  }
  @media  (max-width: 599px) {
    .container{
      padding-left: 10px;
      padding-right: 10px;
    }
    .darkHouse{
      display: none;
    }
    .mediaDiv {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
    }
    

    .videoWrapper{
      width: 120px;
      height: 120px;
    }
  }